body {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
}
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#admin-content-wrapper {
    font-family: "Roboto", sans-serif;
}

h2{
    font-family: "Roboto", sans-serif;
    display: absolute;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: bold;
}

#tablapos{
  font-family: "Roboto", sans-serif;
  display: absolute;
  margin-left: 100px;
  margin-top: 100px;
  font-weight: bold;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    background-color: rgb(0, 0, 131);
  }
}

.form-control{
    font-family: "Roboto", sans-serif;
}

.form {
    display: absolute;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
    background: #F8F9FA;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form select {
    background: #f2f2f2;
  }
  
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.5 ease;
  }
  
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }